.icon {
  width: 24px;
  height: 24px;
}
.icon2 {
  width: 40px;
  height: 40px;    
  background-color: #727272; /* blue */
  border-radius: 50%;         /* circle */
  padding: 5px;               /* smaller padding to fit */
  box-sizing: border-box;     /* include padding in width/height */
}
